body {
    text-align: left;
    font-family: 'Palatino Linotype';
}

nav {
    width: 100%;
    background-image: url('../images/header-blueBurst.jpg');
    background-size: tile;


    #nav-bar {
        margin: 2em;
        font-size: 1.25em;
        font-weight: bold;
    }

    #red-tab {
        display: inline-block;
        margin-left: 0.5em;
        margin-top: 4.25em;
        margin-right: -6px;
        background-color: #eee;
        font-weight: bold;
        border-top-left-radius: 5px;

        &:hover {
            background-color: #FE3101;
        }
    }

    #green-tab {
        display: inline-block;
        background-color: #eee;
        font-weight: bold;
        margin-right: -6px;

        &:hover {
            background-color: #03F667;
        }
    }

    #blue-tab {
        display: inline-block;
        background-color: #eee;
        font-weight: bold;
        border-top-right-radius: 5px;

        &:hover {
            background-color: #56ABFB;
        }
    }

    #nav-title {
        float: right;
        border: none;
        color: #eee;
    }
}

span {
    border: 2px solid #222;
    padding: 1em 2em;
}

.content-box {
    height: 700px;
    padding: 5em 5em 10em 5em;
    font-size: 1.25em;
    background-color: #eee;

    #red-content {
        display: none;
    }

    #green-content {
        display: none;
    }

    #blue-content {
        display: none;
    }
}
